@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Montserrat:wght@800&display=swap');


  progress::-webkit-progress-bar {
    background-color: #DBE1F1;
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: #3E4455;
    border-radius: 7px;
   
  }
 